/*RAIZ EDICAO*/
.camada, .camada-link {
    margin: 4px 0px!important;
    border: 1px solid #aaa!important;
    display: inline-block!important;
    width: 100%!important;
}
.ignore {
    border: 1px dotted #d44!important;
    margin: 0px!important;
    border-radius: 2px;
}
.ignore div {
    margin: 0px!important;
}
.code-template {
    border: 2px double black!important;
}
/*[contenteditable=false] {
    background: #f6f6f6!important;
    cursor: pointer;
}*/
[data-reuso="true"] {
    border: 1px dashed black!important;
}
/*TOP MENU EDIÇÃO*/
#a-topEdit {
    border-bottom: 2px solid #3C8DBC;
}
#b-topEdit {
    padding: 8px 0px;
    border-top: 1px solid #3C8DBC;
    border-bottom: 1px solid #3C8DBC;
    /*border-bottom: none;*/
}
.topEdit, #b-topEdit {
    display: none;
}
#result-reuso-camadas {
    /*background: #fF0;*/
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    border-top: 1px dashed #204D74;
    border-bottom: 1px dashed #204D74;
    padding: 12px 4px;
    margin: 4px;
}

/*// NOvos*/ 

#editor-header {
    position: relative;
    z-index: 10001;
    background: #ffffff;
    border: 1px dotted #777;
    min-height: 33px;
    padding: 4px;
    display: block;
    margin-bottom: 6px;
}
.sub-header {
    display: none;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
#editor-footer {
    background: white;
    border: 1px dotted #777;
    border-bottom: none;
    position: fixed;
    bottom: 0px;
    left: 230px;
    /*height: 60px;*/
    display: block;
    padding: 12px;
}
[dataType=template] {
    background: #1F262C!important;
    width: 200px!important;
    color: #ffffff!important;
    cursor: pointer!important;  
}

/*template ediçaõ interações*/
[datatype=sageLoad], 
[datatype=sageSingular], 
[datatype=sageR]{
    width: 160px!important;
    margin: 0 auto!important;
    cursor: pointer;
    box-shadow: none!important;
    border-radius: 12px!important;
    /*text-align: center!important;*/
    color: white!important;
}
[datatype=sageLoad]{ background: #6D6DFF!important;}
[datatype=sageSingular]{ background: #618799!important; }
[datatype=sageR]{ background: #899499!important; }