.btn-p {
    width: 40px;
    height: 40px;
}
.btn-m {
    width: 75px;
    height: 40px;
}
.btn-g {
    width: 75px;
    height: 75px;
}
.btn-x {
    width: 120px;
    height: 40px;
}
.camada, .camada-link {
    padding: 12px!important;
    border-radius: 4px;
    margin: 8px 0px;
}
.link-camada {
    margin: 8px 0px;
}
.camada .camada .camada {
    border-radius: 2px;
    background: #eee;
    -webkit-box-shadow: inset 3px 3px 10px 0px rgba(153,153,153,1);
    -moz-box-shadow: inset 3px 3px 10px 0px rgba(153,153,153,1);
    box-shadow: inset 3px 3px 10px 0px rgba(153,153,153,1);
}
.big-link{
    color: red; 
    font-size: 18px;
}
.sagecell_spinner{
    position: relative!important;
    display: block;
    margin: 0 auto;
    height: 5px!important;
    width: 100%!important;
}
.sagecell_poweredBy {
    font-size: 60%!important;
}
.sagecell_poweredBy a:first-of-type{
    display: none!important;
}
.btn-sage {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb65b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #51a351;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    display: block;
    margin: 10px 0px;
}
.btn-sage:hover, .btn-sage:active, .btn-sage.active, .btn-sage.disabled, .btn-sage[disabled] {
    color: white;
    background-color: #51a351;
    *background-color: #499249;
}
.btn-sage:active, .btn-sage.active {
    background-color: #408140 \9;
}

.sage-hide-code .sage-code .sagecell_input
{
    overflow: hidden;
    height:0px;
}
.sage-hide-code .sage-code .sagecell_sessionOutput{
    border: none;
}
.aula { }
.arvore li {
    padding: 6px 0px;
    min-height: 20px;
    /*background: red;*/
    /*border: 1px solid #eee;*/
}
.titulo-nivel1{  }
.titulo-nivel2{ font-size: 16px; }
.titulo-nivel3{ font-size: 14px; }
.titulo-nivel4{ font-size: 12px; }
.folha {
    /*background: #ddd;*/
}
.inline {
    display: inline-block;
}
.small-pad {
    padding-left: 20px;
}
.right {
    float: right;
}
.textRight {
    text-align: right;
}
.textCenter {
    text-align: center!important;
}
.textLeft {
    text-align: left;
}
.hint {
    color: #999;
}
.link-inside {
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}


.prova {
    padding: 10px;
    background-color: #ff99ff;
    border-color: #1d558c;    
}
.detalhe .detalhe { background: #f6f6f6; }
.detalhe .detalhe .detalhe { background: #ffffff; }

/*Título*/
.camada .apendice{
    border: 1px solid #aaa!important;
    padding: 5px!important;
}

.camada .editable {
    border: 1px solid red!important;
    min-width: 12px!important;
    padding: 3px!important;   
}


/* Site*/
.busca-main-page {
    margin:0 auto; text-align:center;margin-bottom:250px;margin-top:50px;
}
.busca-main-page .box-busca {
    max-width: 80%; margin: 0 auto;
}
.box-busca-top {
    float: right;
    min-width: 260px;
    max-width: 50%;
}
/*.box-busca-top .gsc-clear-button {*/
.gsc-clear-button {
    display: none;
}
/*Tópicos relacionados*/
.top-rel {
    padding: 0px;
    margin: 0px;
}
.top-rel li {
    display: inline-block;
    vertical-align: top;
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.top-rel li a {
    display: block;
    padding: 4px;
}

.edit-sage {
    display: block;
    padding-bottom: 10px!important;
    width: 100%;
}
.edit-sage-title {
    display: block;
    padding-bottom: 10px!important;
    width: 99%;

}
.edicao-sage {
    padding: 10px;
    border: 1px dashed #888;
    box-shadow: 1px 1px 2px 2px #ccc;
}

/*.edit-sage textarea {
    display: block;
    min-height: 100px;
    width: 100%;
}*/
.bold {
    font-weight: bold;
}
.red {
    color: #a00;
}
.green, a.green {
    color: #009900!important;
}
.hide-on-hover {
    display: block;
}
.show-on-hover {
    display: none;
}
.w-10 {
    width: 100px;
}
.w-20 {
    width: 200px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.nodo-topico {
    font-size: 14px;
    margin: 3px;
    border: 1px solid #ededed;
    /*background: #aaa;*/
}
.f16 {
    font-size: 16px;
}
.columns {
    /*border: 1px solid #000;*/
}
/*** GRID FOUNDATION ***/
meta.foundation-version {
    font-family: "/5.5.1/"; }

meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0; }

meta.foundation-mq-small-only {
    font-family: "/only screen and (max-width: 40em)/";
    width: 0; }

meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em; }

meta.foundation-mq-medium-only {
    font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
    width: 40.063em; }

meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em; }

meta.foundation-mq-large-only {
    font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
    width: 64.063em; }

meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em; }

meta.foundation-mq-xlarge-only {
    font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
    width: 90.063em; }

meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em; }

meta.foundation-data-attribute-namespace {
    font-family: false; }

html, body {
    height: 100%; }

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important; }

.sh-left {
    float: left !important; }

.sh-right {
    float: right !important; }

.clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
.clearfix:after {
    clear: both; }

.sh-hide {
    display: none; }

.sh-invisible {
    visibility: hidden; }

.sh-antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.sh-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; }
.sh-row:before, .sh-row:after {
    content: " ";
    display: table; }
.sh-row:after {
    clear: both; }
.sh-row.collapse > .column,
.sh-row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
.sh-row.collapse .sh-row {
    margin-left: 0;
    margin-right: 0; }
.sh-row .sh-row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
.sh-row .sh-row:before, .sh-row .sh-row:after {
    content: " ";
    display: table; }
.sh-row .sh-row:after {
    clear: both; }
.sh-row .sh-row.collapse {
    width: auto;
    margin: 0;
    max-width: none; }
.sh-row .sh-row.collapse:before, .sh-row .sh-row.collapse:after {
    content: " ";
    display: table; }
.sh-row .sh-row.collapse:after {
    clear: both; }

.column,
.columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left; }

[class*="column"] + [class*="column"]:last-child {
    float: right; }

[class*="column"] + [class*="column"].end {
    float: left; }

@media only screen {
    .small-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .small-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .small-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .small-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .small-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .small-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .small-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .small-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .small-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .small-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .small-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .small-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .small-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .small-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .small-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .small-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .small-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .small-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .small-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .small-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .small-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .small-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .small-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .small-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .small-1 {
        width: 8.33333%; }

    .small-2 {
        width: 16.66667%; }

    .small-3 {
        width: 25%; }

    .small-4 {
        width: 33.33333%; }

    .small-5 {
        width: 41.66667%; }

    .small-6 {
        width: 50%; }

    .small-7 {
        width: 58.33333%; }

    .small-8 {
        width: 66.66667%; }

    .small-9 {
        width: 75%; }

    .small-10 {
        width: 83.33333%; }

    .small-11 {
        width: 91.66667%; }

    .small-12 {
        width: 100%; }

    .small-offset-0 {
        margin-left: 0% !important; }

    .small-offset-1 {
        margin-left: 8.33333% !important; }

    .small-offset-2 {
        margin-left: 16.66667% !important; }

    .small-offset-3 {
        margin-left: 25% !important; }

    .small-offset-4 {
        margin-left: 33.33333% !important; }

    .small-offset-5 {
        margin-left: 41.66667% !important; }

    .small-offset-6 {
        margin-left: 50% !important; }

    .small-offset-7 {
        margin-left: 58.33333% !important; }

    .small-offset-8 {
        margin-left: 66.66667% !important; }

    .small-offset-9 {
        margin-left: 75% !important; }

    .small-offset-10 {
        margin-left: 83.33333% !important; }

    .small-offset-11 {
        margin-left: 91.66667% !important; }

    .small-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.small-centered,
    .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.small-uncentered,
    .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left; }

    .column.small-centered:last-child,
    .columns.small-centered:last-child {
        float: none; }

    .column.small-uncentered:last-child,
    .columns.small-uncentered:last-child {
        float: left; }

    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right; }

    .sh-row.small-collapse > .column,
    .sh-row.small-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .sh-row.small-collapse .sh-row {
        margin-left: 0;
        margin-right: 0; }
    .sh-row.small-uncollapse > .column,
    .sh-row.small-uncollapse > .columns {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; } }
@media only screen and (min-width: 40.063em) {
    .medium-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .medium-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .medium-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .medium-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .medium-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .medium-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .medium-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .medium-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .medium-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .medium-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .medium-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .medium-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .medium-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .medium-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .medium-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .medium-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .medium-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .medium-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .medium-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .medium-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .medium-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .medium-1 {
        width: 8.33333%; }

    .medium-2 {
        width: 16.66667%; }

    .medium-3 {
        width: 25%; }

    .medium-4 {
        width: 33.33333%; }

    .medium-5 {
        width: 41.66667%; }

    .medium-6 {
        width: 50%; }

    .medium-7 {
        width: 58.33333%; }

    .medium-8 {
        width: 66.66667%; }

    .medium-9 {
        width: 75%; }

    .medium-10 {
        width: 83.33333%; }

    .medium-11 {
        width: 91.66667%; }

    .medium-12 {
        width: 100%; }

    .medium-offset-0 {
        margin-left: 0% !important; }

    .medium-offset-1 {
        margin-left: 8.33333% !important; }

    .medium-offset-2 {
        margin-left: 16.66667% !important; }

    .medium-offset-3 {
        margin-left: 25% !important; }

    .medium-offset-4 {
        margin-left: 33.33333% !important; }

    .medium-offset-5 {
        margin-left: 41.66667% !important; }

    .medium-offset-6 {
        margin-left: 50% !important; }

    .medium-offset-7 {
        margin-left: 58.33333% !important; }

    .medium-offset-8 {
        margin-left: 66.66667% !important; }

    .medium-offset-9 {
        margin-left: 75% !important; }

    .medium-offset-10 {
        margin-left: 83.33333% !important; }

    .medium-offset-11 {
        margin-left: 91.66667% !important; }

    .medium-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left; }

    .column.medium-centered:last-child,
    .columns.medium-centered:last-child {
        float: none; }

    .column.medium-uncentered:last-child,
    .columns.medium-uncentered:last-child {
        float: left; }

    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right; }

    .sh-row.medium-collapse > .column,
    .sh-row.medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .sh-row.medium-collapse .sh-row {
        margin-left: 0;
        margin-right: 0; }
    .sh-row.medium-uncollapse > .column,
    .sh-row.medium-uncollapse > .columns {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; } }
@media only screen and (min-width: 64.063em) {
    .large-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .large-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .large-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .large-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .large-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .large-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .large-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .large-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .large-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .large-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .large-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .large-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .large-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .large-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .large-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .large-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .large-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .large-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .large-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .large-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .large-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .large-1 {
        width: 8.33333%; }

    .large-2 {
        width: 16.66667%; }

    .large-3 {
        width: 25%; }

    .large-4 {
        width: 33.33333%; }

    .large-5 {
        width: 41.66667%; }

    .large-6 {
        width: 50%; }

    .large-7 {
        width: 58.33333%; }

    .large-8 {
        width: 66.66667%; }

    .large-9 {
        width: 75%; }

    .large-10 {
        width: 83.33333%; }

    .large-11 {
        width: 91.66667%; }

    .large-12 {
        width: 100%; }

    .large-offset-0 {
        margin-left: 0% !important; }

    .large-offset-1 {
        margin-left: 8.33333% !important; }

    .large-offset-2 {
        margin-left: 16.66667% !important; }

    .large-offset-3 {
        margin-left: 25% !important; }

    .large-offset-4 {
        margin-left: 33.33333% !important; }

    .large-offset-5 {
        margin-left: 41.66667% !important; }

    .large-offset-6 {
        margin-left: 50% !important; }

    .large-offset-7 {
        margin-left: 58.33333% !important; }

    .large-offset-8 {
        margin-left: 66.66667% !important; }

    .large-offset-9 {
        margin-left: 75% !important; }

    .large-offset-10 {
        margin-left: 83.33333% !important; }

    .large-offset-11 {
        margin-left: 91.66667% !important; }

    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.large-centered,
    .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.large-uncentered,
    .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left; }

    .column.large-centered:last-child,
    .columns.large-centered:last-child {
        float: none; }

    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
        float: left; }

    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right; }

    .sh-row.large-collapse > .column,
    .sh-row.large-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .sh-row.large-collapse .sh-row {
        margin-left: 0;
        margin-right: 0; }
    .sh-row.large-uncollapse > .column,
    .sh-row.large-uncollapse > .columns {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; } }

/*BLOCK GRID FOUNDATION*/
[class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem; }
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
[class*="block-grid-"]:after {
    clear: both; }
[class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
    .small-block-grid-1 > li {
        list-style: none;
        width: 100%; }
    .small-block-grid-1 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both; }

    .small-block-grid-2 > li {
        list-style: none;
        width: 50%; }
    .small-block-grid-2 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both; }

    .small-block-grid-3 > li {
        list-style: none;
        width: 33.33333%; }
    .small-block-grid-3 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both; }

    .small-block-grid-4 > li {
        list-style: none;
        width: 25%; }
    .small-block-grid-4 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both; }

    .small-block-grid-5 > li {
        list-style: none;
        width: 20%; }
    .small-block-grid-5 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both; }

    .small-block-grid-6 > li {
        list-style: none;
        width: 16.66667%; }
    .small-block-grid-6 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both; }

    .small-block-grid-7 > li {
        list-style: none;
        width: 14.28571%; }
    .small-block-grid-7 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both; }

    .small-block-grid-8 > li {
        list-style: none;
        width: 12.5%; }
    .small-block-grid-8 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both; }

    .small-block-grid-9 > li {
        list-style: none;
        width: 11.11111%; }
    .small-block-grid-9 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both; }

    .small-block-grid-10 > li {
        list-style: none;
        width: 10%; }
    .small-block-grid-10 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both; }

    .small-block-grid-11 > li {
        list-style: none;
        width: 9.09091%; }
    .small-block-grid-11 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both; }

    .small-block-grid-12 > li {
        list-style: none;
        width: 8.33333%; }
    .small-block-grid-12 > li:nth-of-type(1n) {
        clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both; } }
@media only screen and (min-width: 40.0625em) {
    .medium-block-grid-1 > li {
        list-style: none;
        width: 100%; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both; }

    .medium-block-grid-2 > li {
        list-style: none;
        width: 50%; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both; }

    .medium-block-grid-3 > li {
        list-style: none;
        width: 33.33333%; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both; }

    .medium-block-grid-4 > li {
        list-style: none;
        width: 25%; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both; }

    .medium-block-grid-5 > li {
        list-style: none;
        width: 20%; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both; }

    .medium-block-grid-6 > li {
        list-style: none;
        width: 16.66667%; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both; }

    .medium-block-grid-7 > li {
        list-style: none;
        width: 14.28571%; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both; }

    .medium-block-grid-8 > li {
        list-style: none;
        width: 12.5%; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both; }

    .medium-block-grid-9 > li {
        list-style: none;
        width: 11.11111%; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both; }

    .medium-block-grid-10 > li {
        list-style: none;
        width: 10%; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both; }

    .medium-block-grid-11 > li {
        list-style: none;
        width: 9.09091%; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both; }

    .medium-block-grid-12 > li {
        list-style: none;
        width: 8.33333%; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
        clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both; } }
@media only screen and (min-width: 64.0625em) {
    .large-block-grid-1 > li {
        list-style: none;
        width: 100%; }
    .large-block-grid-1 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both; }

    .large-block-grid-2 > li {
        list-style: none;
        width: 50%; }
    .large-block-grid-2 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both; }

    .large-block-grid-3 > li {
        list-style: none;
        width: 33.33333%; }
    .large-block-grid-3 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both; }

    .large-block-grid-4 > li {
        list-style: none;
        width: 25%; }
    .large-block-grid-4 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both; }

    .large-block-grid-5 > li {
        list-style: none;
        width: 20%; }
    .large-block-grid-5 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both; }

    .large-block-grid-6 > li {
        list-style: none;
        width: 16.66667%; }
    .large-block-grid-6 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both; }

    .large-block-grid-7 > li {
        list-style: none;
        width: 14.28571%; }
    .large-block-grid-7 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both; }

    .large-block-grid-8 > li {
        list-style: none;
        width: 12.5%; }
    .large-block-grid-8 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both; }

    .large-block-grid-9 > li {
        list-style: none;
        width: 11.11111%; }
    .large-block-grid-9 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both; }

    .large-block-grid-10 > li {
        list-style: none;
        width: 10%; }
    .large-block-grid-10 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both; }

    .large-block-grid-11 > li {
        list-style: none;
        width: 9.09091%; }
    .large-block-grid-11 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both; }

    .large-block-grid-12 > li {
        list-style: none;
        width: 8.33333%; }
    .large-block-grid-12 > li:nth-of-type(1n) {
        clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both; } }

