/*EM EDICAO*/
.sage-em-edicao .sagecell_sessionOutput {
    border: none!important;
    border-radius: 5px!important;
}
/*TEMPLATES*/
.sage-template .sagecell_sessionOutput {
    border: none!important;
    border-radius: 5px!important;
}
.sage-template img {
    display: block;
    margin: 0 auto!important;
}
.sage-template .sagecell_poweredBy {
    display: none!important;
}
.sage-template .sagecell_spinner {
    height: 3px!important;
}
/*QUESTAO*/
.sage-questao .sagecell_sessionOutput {
    border: none!important;
    border-radius: 5px!important;
}
.sage-questao .sagecell_poweredBy {
    display: none!important;
}

/*CAMADAS DE INTERAÇÔES*/
/*.camada-sage, .camada-questao {
    border: 1px solid #ddd;
}*/
/*PROCESSAMENTO*/
.sage-hide-code .sagecell_sessionOutput {
    border: none!important;
    border-radius: 5px!important;
}
.sage-hide-code .sagecell_interactControlCell{
    /*width: 100%!important;*/
    /*display: block;*/
    /*margin: 10px;*/
}

.sage-hide-code img {
    display: block;
    margin: 0 auto;
}
