/*RAIZ EDICAO*/
.camada, .camada-link {
    margin: 4px 0px!important;
    border: 1px solid #aaa!important;
    display: inline-block!important;
    width: 100%!important;
}
.ignore {
    border: 2px solid red!important;
}
.code-template {
    border: 2px double black!important;
}
[contenteditable=false] {
    background: #f6f6f6!important;
    cursor: not-allowed;
}
.fecha-camada {
    visibility: hidden;
}
.camada:hover .fecha-camada {
    visibility: visible;
}
[data-reuso="true"] {
    border: 1px dashed black!important;
}
/*TOP MENU EDIÇÃO*/
#a-topEdit {
    border-bottom: 2px solid #3C8DBC;
}
#b-topEdit {
    padding: 8px 0px;
    border-top: 1px solid #3C8DBC;
    border-bottom: 1px solid #3C8DBC;
    /*border-bottom: none;*/
}
.topEdit, #b-topEdit {
    display: none;
}
#result-reuso-camadas {
    /*background: #fF0;*/
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    border-top: 1px dashed #204D74;
    border-bottom: 1px dashed #204D74;
    padding: 12px 4px;
    margin: 4px;
}